{% extends "base.html" %}

{% block content %}
<div class="pre-footer">
  {% with messages = get_flashed_messages() %}
  {% if messages %}
  <div class="notification is-danger">
    {{ messages[0] }}
  </div>
  {% endif %}
  {% endwith %}

  <div class="w3-card-4 w3-large w3-display-middle">
    <h1 class="title w3-padding-small w3-medaiid-blue">Change Password</h1>
    <form action="{{ url_for('main.change_password') }}" method="post">
      <input class="w3-input" type="password" name="old_password" placeholder="Old Password" autofocus="">
      <input class="w3-input" type="password" name="new_password" placeholder="New Password">
      <input class="w3-input" type="password" name="repeat_password" placeholder="Confirm New Password">
      <input class="w3-button w3-medaiid-blue" type="submit" value="Submit">
    </form>
  </div>
</div>
{% endblock %}