{% extends "base.html" %}

{% block content %}
<div class="pre-footer">
  {% with messages = get_flashed_messages() %}
  {% if messages %}
  <div class="w3-card-4 w3-large w3-button w3-centered w3-center w3-third">
    {{ messages[0] }}
  </div>
  {% endif %}
  {% endwith %}
  <h1 class="title">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css')}}" />
    <div class="w3-card-4 w3-display-middle w3-padding-small">
      <form>
        <h1 class="title"><strong>Welcome, {{ user.name }}!</strong><br> You are logged in as a {{ user.role }}.</h1>
        <div class="w3-medaiid-blue w3-button">
          <a href="{{ url_for('main.questions') }}">Begin New Question</a>
        </div>
        <div class="w3-medaiid-blue w3-button">
          <a href="{{ url_for('main.responses') }}">See submitted responses</a>
        </div>
        {% if user.role == 'medical professor' %}
        <div class="w3-medaiid-blue w3-button">
          <a href="{{ url_for('main.upload_question') }}">Upload new questions</a>
        </div>
        {% endif %}
      </form>
    </div>
  </h1>
</div>
{% endblock %}