{% extends "base.html" %}

{% block content %}
<h1 class="title">
  Untitled
</h1>
<h2 class="subtitle">
  Description of our project
</h2>
<div class="column is-4 is-offset-4">
    <div class="box">
        <button type="button" class="button is-block is-large is-info is-fullwidth">
            <a href="{{ url_for('auth.login') }}">Login</a>
        </button>
        <button type="button" class="button is-block is-large is-info is-fullwidth">
            <a href="{{ url_for('auth.signup') }}">Sign up</a>
        </button>
    </div>
</div>
{% endblock %}