{% extends "base.html" %}

{% block content %}
<h1 class="title">
    Welcome, {{ name }}!
    <div class="user-form">
      <form>
        <h1>USER NAME</h1>
          <div class="action">
            <button>Account</button>
            <button>New Question</button>
            <button>Old Question</button>
            <button>Sign Out</button>
          </div>
    
        <div class="btn-group">
          <button>Account</button>
          <button>New Question</button>
          <button>Old Question</button>
          <button>Sign Out</button>
        </div>
      </form>
    </div>
</h1>
{% endblock %}