{% extends "base.html" %}

{% block content %}
{% with messages = get_flashed_messages() %}
{% if messages %}
<div class="notification is-danger">
  {{ messages[0] }}
</div>
{% endif %}
{% endwith %}
<h1 class="title">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css')}}" />
  <div class="w3-card-4 w3-display-middle w3-padding-small">
    <h1 class="title">Welcome to MedAiID!</h1>
    <div>Your name: {{ user.name }}</div>
    <div>Your email: {{ user.email }}</div>
    <div>Your role: {{ user.role }}</div>
    <div class="w3-black w3-button">
      <a href="{{ url_for('main.change_password') }}">Change password</a>
    </div>
</h1>
{% endblock %}