{% extends "base.html" %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/question.css')}}" />
<div>
<main id="main-holder">
  <h1 id="question-header">question number</h1>
  {% with messages = get_flashed_messages() %}
  {% if messages %}
  <div class="notification is-danger">
      {{ messages[0] }}
  </div>
  {% endif %}
  {% endwith %}

  <!-- THIS IS WHERE THE QUESTION GOES -->
  <p id="patient-story">
    <!-- A 4-month-old boy with severe combined immunodeficiency receives a bone
    marrow transplant. Six days later, he develops a widespread,
    erythematous, maculopapular rash over the trunk. Examination of a skin
    biopsy specimen shows diffuse vacuolar degeneration of basal epidermal
    cells with a mononuclear inflammatory cell infiltrate. -->
    <!-- {% for question in questions %}
      <div>{{ question.content }}</div>
    {% endfor %} -->

    <div>{{ question or 'No questions have been uploaded yet.' }}</div>
  </p>
  <!-- THIS IS WHERE THE QUESTION GOES -->

  <div class="w3-container">
    <form id="question-form", action="{{ url_for('main.questions') }}" method="post">
      
      <!-- Text Field -->
      <div class="w3-row-padding">
        <div class="w3-third">
          <label class="label">Diagnosis</label> </div>
          <textarea id="Diagnosis" name="Diagnosis" rows="10" cols="50"></textarea>
        </div>

        <div class="w3-third">
          <label>Tests</label> </div>
          <textarea id="Tests" name="Tests" rows="10" cols="50"></textarea>
        </div>

        <div class="w3-third">
          <label class="label">Intervetion</label> </div>
          <textarea id="Intervetion" name="Intervetion" rows="10"cols="50"></textarea> 
        </div>
      
      <!-- Slider -->
      <label for="points">Confidence (between 0 and 10):</label>
      <input type="range" id="points" name="confidence" min="0" max="10" />

    <!-- Submit Button -->
    <input type="submit" value="submit" id="question-form-submit" />
  </form>
</div>
</main>
</div>

{% endblock %}