{% extends "base.html" %}
{% block content %}
{% with messages = get_flashed_messages() %}
{% if messages %}
<div class=" w3-container w3-card-4 w3-large w3-button w3-centered w3-center w3-third">
    {{ messages[0] }}
</div>
{% endif %}
{% endwith %}
{% if responses %}
<div>Here are the responses you can view:</div>
{% for response in responses %}
<button onclick="accordion('QuestionId{{response.question_id}}')"
    class="w3-btn w3-block w3-medaiid-blue w3-centered w3-padding-small">User {{response.user_id}}'s response to Question {{response.question_id}}</button>
<div id="QuestionId{{response.question_id}}" class="w3-container w3-hide">
    <p class="title"><strong>Diagnosis:</strong> {{ response.diagnosis }}</p>
    <p class="title">Confidence: {{ response.diag_conf }}</p>
    <p class="title"><strong>Tests:</strong> {{ response.tests }}</p>
    <p class="title">Confidence: {{ response.test_conf }}</p>
    <p class="title"><strong>Intervention:</strong> {{ response.interventions }}</p>
    <p class="title">Confidence: {{ response.inter_conf }}</p>
</div>
{% endfor %}

{% else %}
<div class="w3-card-4 w3-large w3-button w3-centered w3-center w3-third">
    <h1 class="title">No responses found!</h1>
</div>
{% endif %}

{% endblock %}